<% @questions.each do |question| %>
  <div>
    <h3><%= link_to truncate(question.content, length: 80), teachers_question_path(question) %></h3>
    <p><%= pluralize question.answers.count, "answer" %>, <%= question.file.nil? ? 0 : 1 %> file attachment</p>
    <p>Updated by <%= question.user.name %> at <%= time_ago_in_words question.updated_at %> ago</p>
    <% if question.user == current_user %>
      <ul class="breadcrumb bg-light">
        <li class= "breadcrumb-item"><%= link_to "Edit", edit_teachers_question_path(question) %></li>
        <li class= "breadcrumb-item"><%= link_to "Delete", teachers_question_path(question), method: :delete %></li>
      </ul>
    <% end %>
    <hr>
  </div>
<% end %>
