<div class="shadow-lg p-4 mb-4 bg-white" style="border-radius: 1em">
  <span><b>Question: </b></span>
  <span class="text-justify"><%= @question.content %></span>
  <div class="ml-4">
    <span class="badge badge-info">
      <%= link_to("Used #{pluralize(@question.exams.count, "time")}",
      search_teachers_exams_path(id: @question.id), class: "text-light")%>
    </span>
    <span class="badge badge-success"><%= link_to @question.subject.name, teachers_subject_path(@question.subject), class: "text-light"%></span>
    <span class="badge badge-info">
      <%= link_to "File attachment", @question.file_url, class: "text-light" %>
    </span>
    <br>
    <div class="card border-0">
      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          <% @question.answers.each do |answer| %>
            <% if answer.is_true %>
              <li class="list-group-item custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled checked>
                <label class="custom-control-label text-dark" for="customCheck"><%= answer.option %></label>
              </li>
            <% else %>
              <li class="list-group-item">
                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" disabled>
                <label class="custom-control-label text-dark" for="customCheck"><%= answer.option %></label>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
